.Home {
    min-height: 100vh;
    width: 100%;
    margin: 0px auto;
    max-width: 1400px;
    padding: 80px;
}

.Home-Header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
}

.Profile-Image {
    border-radius: 100%;
}

.Name-Container {
    padding-top: 20px;
}

.Name-Container .Title {
    text-transform: uppercase;
    margin-top: 10px;
    cursor: default;
    margin-bottom: -2px;
}

.Name-Container .Name{
    display: flex;
    font-size: 48px;
    font-family: 'Vadodara Light';
    cursor: default;
}

.Img-Container {
    opacity: 1;
    transition: opacity linear 500ms;
}

.Img-Container:hover {
    opacity: 0.8;
}

.User-Type {
    margin-top: 10px;
    font-family: 'Vadodara Light';
    font-size: 15px;
    color: #1ED760;
    text-transform: uppercase;
    cursor: default;
    margin-bottom: -5px;
}

.User-Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.Info {
    margin-left: 20px;
    margin-right: 20px;
}

.info-title {
    margin-bottom: 2px;
    cursor: default;
}

.info-value {
    color: #9b9b9b;
    cursor: default;
}

.Home-Body {
    margin-top: 60px;
}

.Body-Section {
    display: flex;
    flex-direction: column;
    font-family: 'Vadodara Light';
    cursor: default;
    margin-bottom: 60px;
}

.Body-Section .Header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Body-Title {
    font-size: 24px;
}

.MoreButton {
    background-color: #1ED760;
    font-size: 14px;
    border-radius: 500px;
    text-transform: uppercase;
    padding: 12px 42px;
    border: none;
    transition: opacity 600ms ease, color 1200ms ease;
}

.MoreButton:focus {
    outline: none;
}

.MoreButton:hover {
    opacity: 0.9;
    color: #fff;
}

.Body-List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.Artist-Element, .Track-Element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.Artist-Link, .Track-Link {
    display: flex;
    color: #fff;
    align-items: center;
    transition: opacity linear 500ms;
    opacity: 1;
}

.Artist-Link:hover, .Track-Link:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.Artist-Image img {
    width: 60px;
    height: auto;
    border-radius: 100%;
}

.Album-Image img {
    width: 60px;
    height: auto;
}

.Artist-Name, .Track-Name {
    display: flex;
    margin-left: 30px;
    font-family: 'Vadodara Medium';
}

.Track-Info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Track-SecondaryInfo {
    display: flex;
    margin-left: 30px;
    color: #9b9b9b;
    font-size: 14px;
    font-family: 'Vadodara Medium';
    flex-wrap: wrap;
}

.Separator {
    padding-left: 10px;
    padding-right: 10px;
}